{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('oc_pizzeria_commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('oc_pizzeria_comprod_cuisinier', { 'idCommande': commande.id }) }}">show</a>
                        </li>
                        
                    </ul>
                </td>
            </tr>
            {% else %}
            Aucune commande actuellement
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oc_pizzeria_commande_new') }}">Create a new commande</a>
        </li>
    </ul>
{% endblock %}
