<!DOCTYPE HTML>
<html lang="fr">
	<head>
	    <title>Bootstrap template</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		-->
	</head>
	<body>
		<h1>Notre pizzeria est un peu vide pour le moment, mais cela viendra !</h1>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
 