{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Produits{% endblock %}

{% block body %}
<body>
<h1> modification d'un produit </h1>

<div class="well">
{{form(form)}}
</div>

</body>
{% endblock %}