{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Produits{% endblock %}

{% block body %}
<h1> Ma liste de produits </h1>
<div class="row">
	<div class="col-lg-3">
		<ul class="list-group">
			{%for ing in produits  %}
				<li class="list-group-item"> <a href="{{path('oc_pizzeria_produit_view', {'id' : ing.id})}}"> {{ing.name}}</a></li>
			{%endfor  %}
		</ul>
	</div>
	<div class="col-lg-9">
	</div>
</div>

<a href="{{path('oc_pizzeria_produit_add')}}"> Ajouter d'un produit </a>
</body>
{% endblock %}