<html>
<body>
<h1> Le produit :  {{produit.name}}</h1>
Les Ingredients :
{%for ing in list  %}
	<li> {{ing.name}} </li>
{%endfor  %}

<a href="{{path('oc_pizzeria_panier_add', {'idproduit' : produit.id})}}"> Ajouter au panier</a>
</body>
<html>