{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Gammes{% endblock %}

{% block body %}
	<h1> Ma liste de gammes </h1>
<div class="row">
	<div class="col-lg-3">
		<ul class="list-group">
			{%for ing in gammes  %}
				<li class="list-group-item"> <a href="{{path('oc_pizzeria_gamme_view', {'id' : ing.id})}}"> {{ing.name}} </a></li>
			{%endfor  %}
		</ul>
	</div>
	<div class="col-lg-9">
	</div>
</div>

<a href="{{path('oc_pizzeria_gamme_add')}}"> Ajouter d'une gamme </a>
{% endblock %}



