{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Gammes{% endblock %}

{% block body %}<h1> La Gamme : {{gamme.name}} </h1>

Les Produits :
<div class="row">
	<div class="col-lg-3">
		<ul class="list-group">
			{%for pro in list  %}
				<li class="list-group-item"> <a href="{{path('oc_pizzeria_produit_view', {'id' : pro.id})}}"> {{pro.name}} </a></li>
			{%endfor  %}
		</ul>
	</div>
	<div class="col-lg-9">
	</div>
</div>
{% endblock %}



